
NEXT_PUBLIC_SUPABASE_URL=https://fqgsxejmtyztjguavqfr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxZ3N4ZWptdHl6dGpndWF2cWZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1MzUzNTgsImV4cCI6MjA3MjExMTM1OH0.KKYsxa_D2aVhrlIixgbUm_joNpxUZmOKfgAzsY_dheQ
